@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
:root {
  --clr-white: #f3f3f3;
  --clr-yellow: #f2ff00;
  --clr-orange: #ff764d;
  --clr-lightblue: #b1c5ff;
  --clr-lightpurple: #d5b3ff;
  --clr-teal: #b6ffc0;
  --clr-blue: #0000ff;
  --font: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-white);
}
