.image__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.studio_link {
  position: relative;
  top: 15rem;
  padding-left: 7rem;
}

.studio__img {
  max-width: 120%;
}
.habit__img,
.music__img {
  max-width: 70%;
}

.habit {
  position: relative;
  top: 5rem;
}
.habit_link {
  position: relative;
  left: 27rem;
  top: 24rem;
  z-index: 2;
}
.habit__img {
  position: relative;
  left: 22.4rem;
  top: 14.5rem;
}
.music_link {
  position: relative;
  top: 15rem;
  left: 5rem;
}

.music__img {
  position: relative;
  left: 70rem;
  bottom: 15rem;
}
